apache-airflow-providers-common-sql
apache-airflow-providers-postgres
apache-airflow-providers-amazon
apache-airflow-providers-docker
hdfs[avro,dataframe]
protobuf==3.20.1
apache-airflow-providers-apache-hdfs==3.2.1
pymongo
apache-airflow-providers-mongo
apache-airflow-providers-common-sql
hmsclient
pandas
pyhive[hive_pure_sasl]
thrift
apache-airflow-providers-apache-hive
numpy
phpserialize
pymysql
sshtunnel
sharepy==1.3.0
openpyxl
kubernetes