apache-airflow-providers-common-sql
apache-airflow-providers-postgres
apache-airflow-providers-amazon
apache-airflow-providers-docker
hdfs[avro,dataframe]
apache-airflow-providers-apache-hdfs
pymongo
apache-airflow-providers-mongo
pandas
numpy
phpserialize
pymysql
sshtunnel
sharepy==1.3.0
openpyxl
kubernetes